<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
    <dict>
      <key>cell</key>
      <string>PSGroupCell</string>
      <key>label</key>
      <string>ENABLED</string>
    </dict>

    <dict>
      <key>cell</key>
      <string>PSGroupCell</string>
      <key>label</key>
      <string>DISABLED</string>
    </dict>

    <dict>
      <key>cell</key>
      <string>PSGroupCell</string>
      <key>label</key>
      <string>The order of your extensions list determines which extension handles a given web request first, starting from the top.</string>
    </dict>

    <dict>
        <key>cell</key>
        <string>PSEditTextCell</string>
        <key>placeholder</key>
        <string>0.2</string>
        <key>bestGuess</key>
        <string>0.2</string>
        <key>defaults</key>
        <string>com.yourname.yourtweak</string>
        <key>isDecimalPad</key>
        <true/>
        <key>key</key>
        <string>savedName</string>
        <key>label</key>
        <string>Visible Name:</string>
    </dict>
	</array>
	<key>title</key>
	<string>My Extensions</string>
</dict>
</plist>

